#color-palette{
    display: table;
}

.color {
    height: 30px;
    width: 30px;
    margin: 1px;
    border: solid 1px black;
    display: inline-block;
}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: -4px;
}

#pixel-board {
    height: 250px;
    width: 250px;    
}

#clear-board{
    weight: 40px;
    width: 60px;
    margin-bottom: 20px;
}