.color{
    border: 1px solid black;
    display: inline-block;
}

#black{
    background-color: black;
    width: 40px;
    height: 40px;
}
#color1{
    background-color: blue;
    width: 40px;
    height: 40px;
}
#color2{
    background-color: red;
    width: 40px;
    height: 40px;
}
#color3{
    background-color: yellow;
    width: 40px;
    height: 40px;
}
.pixel{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}
.selected{
    display: inline-block; 
    width: 40px;
    height: 40px;
    border: 1px solid;
}