*{
    margin: 0;
}

#title {
    font-family: monospace;
    color: darkslateblue;
    text-align: center;
}

.color {
    display: inline-block;
    margin: 20px;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

#color-palette{
    text-align: center;
}

#preto {
    background-color: black;
}

#amarelo {
    background-color: yellow;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}

#vermelho {
    background-color: red;
}

#laranja {
    background-color: orange;
}