#title {
  margin: 30px;
}

#color-palette {
  margin: 30px;
}

.color {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#pixel-board {
  display: grid;
  padding: 0;
  margin-top: 30px;
}

.pixel {
  box-sizing: border-box;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
