.color {
  display: inline-block;
  border: solid 1px black;
  width: 40px;
  height: 40px;
}

.color:nth-child(1) {
  background-color: black;
}

.color:nth-child(2) {
  background-color: red;
}

.color:nth-child(3) {
  background-color: green;
}

.color:nth-child(4) {
  background-color: blue;
}