body {
    background-image: url('./images/stardewValley.jpg');
}

ul {
    height: 70px;
}

.color {
    border: solid black 1px;
    display: inline-block;
    padding: 25px 25px;
    margin-left: 5px;
}

.color:hover {
    opacity: 70%;
}

.color:active {
    transform: translateY(2px);
}

.pixel-line {
    margin: 0;
    margin-left: 587px;
}

.pixel {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid black 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: -5px;
    margin-left: -1px;
}

.pixel:hover{
    opacity: 70%;
}

header {
    text-align: center;
}


h1 {
    font-size: 45px;
    margin-left: 50px;
    color: #000099;
    font-family: 'Itim', cursive;
    -webkit-text-stroke: 1px white;
    /* Propriedade para inserir borda em texto vista no link https://bit.ly/3hduE8y */
}

button {
    margin-left: 650px;
    margin-bottom: 17px;
    color: white;
    background-color: #0066cc;
    border-radius: 20%;
    border: solid 1px white;
    font-family: 'Itim', cursive;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    box-shadow: 0 3px #999;
}

/* Animação do botão inspirada no link https://bit.ly/3vUFq7M */

button:hover {
    background-color: #3399ff;
}

button:active {
    background-color: #3399ff;
    box-shadow: 1px #666;
    transform: translateY(2px);
}