 #tittle {
   text-align: center;
 }
 .color {
    border: solid 1px black;
    display: inline-block;
    width: 50px;
    height: 50px;
     }
  .color1 {
    background-color: black;
    display: inline-block;
  }  
  .color2 {
    background-color: green;
    display: inline-block;
  } 
  .color3 {
    background-color: yellow;
    display: inline-block;
  }
  .color4 {
    background-color: blue;
    display: inline-block;
  }
  body {
    display: inline-table;
    flex-direction: initial;
    align-items: center;
  }

  .pixel {
    border: 1px solid black;  
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 0px;
    background-color: white;
    } 

    #pixel-board {
      margin-top: 15px;
    }

    #clear-board {
      margin-top: 5px;
      background-color:rgb(233, 127, 127);
      padding: 15px;
      font-size: 18px;
    }