body{
  margin:5px;
}

h1{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#black{
	width: 40px;
	height: 40px;
	background-color: black;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	border-color: black;
	display: inline-block;
}

#blue{
	width: 40px;
	height: 40px;
	background-color: blue;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	border-color: black;
  display: inline-block;
}

#green{
	width: 40px;
	height: 40px;
	background-color: green;
	border-radius: 5px;
	border: solid;
	border-width: 1px;
	border-color: black;
	display: inline-block;
}

#orange{
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
}

.pixel{
	width: 40px;
	height: 40px;
	background-color: white;
	border: 1px solid rgb(0, 0, 0);
}
.pixel-board{
	width: 40px;
	height: 40px;
	border-width: 1px;
}
board-size{
	width: 10px;
	height: 10px;	
}
