.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: black solid 1px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.column {
    background-color: white;
    border: black solid;
    border-width: 1px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }