* {
  margin: 0;
  padding: 0;
}

h1 {
	text-align: center;
  padding: 50px
}

#color-palette {
  width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

.color {
  background: red;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  margin: 2px;
}

#pixel-board {
  width: 450px;
  text-align: center;
  margin: auto;
  padding: 0;
}

.pixel {
  background: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  margin: -3px;
}