* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)), url("./images/bg.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

main {
  overflow: auto;
}

h1 {
  height: auto;
  background: url("./images/site-03.png") center no-repeat;
  background-clip: border-box;
	text-align: center;
  color: rgba(0, 0, 0, 0);
  padding: 50px;
}

#color-palette {
  width: 45%;
  text-align: center;
  margin: auto;
}

.color {
  background: red;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  margin: 2px;
}


#pixel-board {
  width: 410px;
  text-align: center;
  margin: auto;
  padding: 0;
  margin-bottom: 75px;
  background: rgb(96 197 236 / 80%);
  padding: 20px 10px 17px;
  border-radius: 4%;
}

.pixel {
  background: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  margin: -3px;
}

.botoes {
  text-align: center;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}

#clear-board {
  background-color: rgb(255, 128, 149);
  font-family: '04b', sans-serif;
  -webkit-text-stroke: 2px rgb(38, 38, 38);
  color: white;
  border: none;
  border-radius: 3%;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 25px;
  cursor: pointer;
}

footer {
  clear: both;
  position: relative;
  background: rgb(32, 32, 32);
  color: white;
  text-align: center;
  padding: 20px;
}

.copyright {
  color: rgb(199 199 199);
  font-size: 12px;
}

.copyright a {
  color: white;
  font-weight: 700;
}