body {
    position: relative;
    height: 90vh;
    width: 90vw;
    background-image: url("./image/background.gif");
    background-size: cover;
    margin: 0%;
}

.color {
    border: solid black 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 3px;
}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

#clear-board {
    width: 60px;
    height: 30px;
    background-color: paleturquoise;
    font-weight: bold;
    font-style: oblique;
    font-size: small;
}
