.color {
    border: 1px solid black;
    display: inline-block;
    height: 5px;
    margin-right: 20px;
    width: 5px;
    padding: 35px;
}

#color-palete {
    height: 30%;
    margin: 50px;
    text-align: center;
    width: 100%;
}

div.color:nth-child(1) {
    background-color: black;
}

div.color:nth-child(2) {
    background-color: blue;
}

div.color:nth-child(3) {
    background-color: red;
}

div.color:nth-child(4) {
    background-color: green;
}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    margin: -3px;
    display: inline-block;
    border: 1px solid black;
}