#color-palette {
  border-width: 1px;
}

.color {
  padding: 20px;
  border: solid 1px black;
  display: inline-block;
}

#color-black {
  background-color: black;
}

#color-burlywood {
  background-color: burlywood;
}

#color-teal {
  background-color: teal;
}

#color-goldenrod {
  background-color: goldenrod;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px black solid;
  margin: -3px;
  display: inline-block;
};