body{
  margin:50px;
 }

h1{
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

#black{
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 20px;
	border: solid;
	border-width: 1px;
	border-color: black;
	display: inline-block;
 }

#blue{
	width: 100px;
	height: 100px;
	background-color: blue;
	border-radius: 20px;
	border: solid;
	border-width: 1px;
	border-color: black;
	display: inline-block;
}

#green{
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 20px;
	border: solid;
	border-width: 1px;
	border-color: black;
	display: inline-block;
}

#orange{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 20px;
  border: solid;
  border-width: 1px;
  border-color: black;
  display: inline-block;
}
