.color {
    display: inline-block;
    border: 1px black solid;
    margin: 5px;
    padding: 30px;
}
#black {
    background-color: black;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px black solid;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
