div#color-palette{
    display: flex;
}
div.color {
    width: 50px;
    height: 50px;
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 100%
}
div.color:nth-child(1) {
    background-color: #1b1c33;
}
div.color:nth-child(2) {
    background-color: #28c641;
}
div.color:nth-child(3) {
    background-color: #2d93dd;
}
div.color:nth-child(4) {
    background-color: #7b53ad;
}