*{
    margin: 0;
}

#title {
    font-family: monospace;
    color: darkslateblue;
    text-align: center;
}

.color {
    display: inline-block;
    margin: 20px;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

#color-palette{
    text-align: center;
}