.cabecalho {
  text-align: center;
  border: 3px solid black;
  margin-bottom: 20px;
}

#title {
  
}

#color-palette {
  text-align: center;
}

.color {
  border: 1px solid black;
  padding: 20px;
  display: inline-block;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: blue;
}

#color3 {
  background-color: red;
}

#color4 {
  background-color: green;
}

#pixel-board {
  text-align: center;
}

.linha {
  margin: -4px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  margin: 0px;
  background-color: white;
}

.selected {
}