body {
  margin-left: 0;
  padding-left: 50px;
}

#title {
  padding: 50px 0 0;
}

#color-palette {
  padding: 20px 0 0;
}

.color {
  padding: 40px;
  margin-right: 10px;
  border: solid 1px black;
  display: inline-block;
}

#pixel-board {
  width: 410px;
  height: 410px;
}

.pixel {
  padding: 40px;
  border: solid 1px black;
  display: inline-block;
  margin-bottom: -4px;
}

