body{
    text-align: center;
}

.color {
    margin-top: 5%;
    margin-left: 1%;
    padding: 2%;
    width: 5px;
    display: inline-block;
    border: 1px solid black;
  }

#box1 {
    background-color: black;
}
#box2 {
    background-color: red;
}
#box3 {
    background-color: green;
}
#box4 {
    background-color: blue;
}

#pixel-board {
    margin-top: 5%;
    margin-left: 39%;
    display: table;
}
.pixel-line {
    text-align: center;
    display: table-row;
}
.pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    display: table-cell;
    border: 1px solid rgb(0,0,0);
}