.color {
    display: flex;
  }
  
  .color {
    width: 40px;
    height: 40px;
    border: solid black 1px;
    display: inline-block;
    justify-content: center;
  }
  
  .color :nth-child(1){
    background-color: black;
  }
  
  .color :nth-child(2){
    background-color: red;
  }
  
  .color :nth-child(3){
    background-color: green;
  }
  
  .color :nth-child(4){
    background-color: blue;
  }
  
  /* .img {
    width: 150px;
  } */
  
  