.color {
    display:inline-block;
    width:40px;
    height:40px;
    border:1px solid black;
    margin: 1px;
}

.pixel {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
}