body {
    position: relative;
    height: 90vh;
    width: 90vw;
    background-image: url("./image/background.gif");
    background-size: cover;
    margin: 0%;
}

#title {
    font-size: 60px;
    text-align: center;
    margin-left: 150px;
    color: rgb(138, 35, 138);
}

.color {
    border: solid black 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 3px;
}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

#clear-board {
    width: 50px;
    height: 30px;
    background-color: purple;
    font-weight: bold;
    color: white;
    font-size: x-small;
    margin-left: 565px;
}

#generate-board {
    width: 40px;
    height: 30px;
    background-color: purple;
    font-weight: bold;
    color: white;
    font-size: x-small;
}

#color-palette {
    margin-left: 570px;
    margin-bottom: 20px;
}

#div2 {
    margin-left: 570px;
    margin-top: 15px;
}

#board-size {
    width: 135px;
}