.color {
    height: 30px;
    width: 30px;
    margin: 1px;
    border: solid 1px black;
    display: inline-block;
}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    border: solid 1px black;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 4px;
}

#pixel-board {
    height: 300px;
    width: 300px;
    border: solid 1px black;
}