.color {
  margin: 20px;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
  padding: 0%;
}
#pixel-board {
  margin: auto;
  padding: 0%;
}
#color-palette {
  margin: auto;
  padding: 0%;
}
#title {
  text-align: center;
}

body {
  text-align: center;
  max-width: 35%;
  margin: auto;
  background-image: url(ff.jpg);

 
}
html{
background-image: url(pexels-photo-907485.jpeg);
background-size: 100%;

 
}
#generate-board{
  width: 85px;
  height: 35px;
  border: 4px solid black;
  font-family: monospace;
  font-size: 18px;
}
#board-size{
  width: 85px;
  height: 26px;
  border: 4px solid black;
  font-family: monospace;
  font-size: 18px;
  
}
#clear-board{
width: 85px;
height: 35px;
border: 4px solid black;
font-family: monospace;
font-size: 18px;
}

#allColors{
  width: 40px;
  height: 30px;
  border: 4px solid black;
  margin: 0%;
  padding: 0%;
  
}




