.color {
    display: inline-block;
    border: solid 1px black;
    width: 100px;
    height: 100px;
}
#black-color {
    background-color: black;
}
#red-color {
    background-color: red;
}
#blue-color {
    background-color:blue;
}
#green-color {
    background-color: green;
}