body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    text-align: center;
    font-size: 3rem;
}

#color-palette {
    justify-content: center;
    width: 50vw;
    height: 150px;
    display: inline-flex;
    align-items: center;
}

.color {
    background-color: hotpink;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px 5px;
    cursor: pointer;
}

.color:nth-child(1) {
   background-color: black; 
   border: 1px solid black;
}

.color:nth-child(2) {
    background-color: blue; 
    border: 1px solid black;
}

.color:nth-child(3) {
    background-color: green; 
    border: 1px solid black;
}

.color:nth-child(4) {
    background-color: red; 
    border: 1px solid black;
}

#pixel-board {
    max-width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.pixel {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    flex-wrap: wrap;
}