#title {
  align-content: center;
}

.color {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 3px;
  border: 1px solid black;
}

#pixel-board {
  display: table;
  border: 1px solid black;
}

.line {
  display: table-row;
  
}

.pixel {
  display: table-cell;
  
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255)
}
