#black {
  background-color: black;
  border: solid 1px black;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#red {
  background-color: red;
  border: solid 1px black;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#blue {
  background-color: blue;
  border: solid 1px black;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#green {
  background-color: green;
  border: solid 1px black;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#pixel-board {
  padding: 60px;
  background-color: white;
  border: 1px;
  width: 260px;
}

.pixel {
  display: inline-block;
  background-color: white;
  border: solid 1px black;
  width: 50px;
  height: 50px;
}
