#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#gray {
    background-color: gray;
}
.color {
    border: 1px solid black;
    display: inline-block;
}