body {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title{
    
}

.color, .pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    
}

#b1 {
    background-color: black;
}
#b2 {
    background-color: green;
}
#b3 {
    background-color: yellow;
}
#b4{
    background-color: red;
}
#pixel-board {
    display: inline-block;
    width: 250px;
    height: 200px;
}
.pixel {
    background-color: white;
}
   

    
  
  
    
   
    
    
    
   

