* {
  margin: 0;
  text-align: center;
}

#title {
  padding: 20px;
}

.color {
 border: solid 1px black;
 width: 40px;
 height: 40px;
 display: inline-block;
 margin: 5px;
}

#first-color {
  background-color: black;
}

#second-color {
  background-color: red;
}

#third-color {
  background-color: yellow;
}

#fourth-color {
  background-color: blue;
}

#color-palette {
  padding: 20px;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0;
  padding: 0px;
  margin-right: -1px;
  margin-bottom: -5px;
  border: 1px solid black;
  background: white;
}