* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#color-palette {
  height: 50px;
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.black {
  background-color: black;
}

.blue {
  background-color: #16b2d4;
}

.green {
  background-color: #90e10f;
}

.orange {
  background-color: #fb7f3f;
}

#pixel-board {
  border-collapse: collapse;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}
