.color {
    border: solid black 1px;
    display: inline-block;
    padding: 25px 25px
}

.pixel-line{
    margin: 0;
}

.pixel{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid black 1px;
    color: white;
    margin-bottom: -5px;
    margin-left: -1px;
}