body {
  text-align: center;
  background-image: url('pexels-magda-ehlers-1279813.jpg');
  background-position: bottom;
  background-size: cover;
  position: relative;
  margin: 0;
  width: 100%;
}

#all {
  margin-bottom: 50px;
}

header {
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}

#title {
  font-family: monospace, sans-serif;
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

span {
  font-size: 20px;
  background-color: rgba(192, 192, 192, 0.329);
}

.color {
  display: inline-block;
  margin: 1px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-shadow: 0 0 5px 2px black;
}

.color-palette {
  position: static;
}

.color:hover {
  border-radius: 2px;
  box-shadow: none;
  transition: 0.3s;
}

button {
  font-size: 16px;
  box-shadow: 0 0 5px 2px black;
  width: 70px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

button:hover {
  box-shadow: none;
}

button:active {
  box-shadow: 0 0 2px 2px black;
  width: 69px;
}

#pixel-board {
  line-height: 0;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 5px 2px black;
}

.pixel:hover {
  border-radius: 2px;
  box-shadow: none;
  transition: 0.3s;
}

input {
  width: 40px;
  height: 20px;
}

footer {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 85px;
}
