.color {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: left;
}

#color-palette {
  list-style: none;
  text-align: left;
  margin-right: 5%;
}

#black {
  background-color: black;
}

#pink {
  background-color: pink;
}

#orange {
  background-color: orange;
}

#blue {
  background-color: blue;
} 

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  background-color: white; 
}

 .line {
  display: block;
}

table {
  margin-left: 10%;
}
 