.color {
  margin-left: 17px;
  border: 1px solid black;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: red;
}

#color3 {
  background-color: green;
}

#color4 {
  background-color: blue;
}

#art {
    background-color: green;
}

#pixel-board {
    margin-left: 20px;
    margin-top: 10px;
    width: 210px;
    height: 210px;
    border:  solid black;
    background-color: white;

}
.pixel {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid black;
    background-color: white;
}
