.color-palete {
  display: inline-block;
}

.color {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: inline-block;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  background-color: white;
}

.line {
  display: flex;
}

#pixel-board {
  display: inline-block;
}
