body {
  text-align: center;
}

#color-palette {
  text-align: center;
  display: inline-block;
}

.color {
  width: 40px;
  height: 40px;
  border: solid 1px;
  display: inline-block;
}
.cor1 {
  background-color: black;
}
.cor2 {
  background-color: red;
}
.cor3 {
  background-color: green;
}
.cor4 {
  background-color: blue;
}

#pixel-board {
  border-collapse: collapse;
  margin: auto;
}
.pixel {
  width: 41px;
  height: 41px;
  border: solid 1px;
  background-color: white;
}
