#color-palet{
    background-color: white;
}

.color{
    border: 1px solid black;
    display: inline-block;
}

#preto{
    background-color: black;
}

#azul{
    background-color: blue;
}

#vermelho{
    background-color: red;
}

#verde{
    background-color: green;
}