body {
    background-color:  rgb(231, 255, 254);
    font-family: monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#color-palette {
        display: inline-block;
        height: auto;
        width: 100%;
}

.color {
        border: 1px;
        border-style: solid;
        display: inline-block;
        border-color: black;
        height: 60px;
        width: 60px;
}

#bloco1 {
        background-color: black;
}

#bloco2 {
        background-color: red;
}

#bloco3 {
        background-color: green;
}

#bloco4 {
        background-color: blue;
}

#pixel-board {
    height: auto;
    width: 100%;
}

.pixel {
    border: 1px;
    border-style: solid;
    display: inline-block;
    border-color: black;
    height: 60px;
    width: 60px;
    line-height: 100px;
    margin-bottom: -3px;
    background-color: white;
}

