* {
    margin: 0;
    padding: 0;
}

.color {
    border: solid 1px black;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;   
}

#tamanhoTelaDePintura::-webkit-outer-spin-button, #tamanhoTelaDePintura::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.alturaDaTelaDePintura{
    width: 100%;
    height: 42px;
}

.pixel {
    border: solid 1px black;
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
}