#title {
  text-align: center;
  text-decoration: underline;
  color: blueviolet;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#color-palette {
  margin: auto;
}

#pixel-board {
  margin: auto;
}

.color {
  border: solid black 1px;
  width: 40px;
  height: 40px;
  margin: auto;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  padding: 0%;
}

body {
  background-color: rgb(231, 220, 231);
}

footer {
  font-size: 20px;
  margin-top: 250px;
  margin-bottom: 10px;
}

h2 {
    text-align: center;
}