#color-palette {
    margin-bottom: 23px;
}

.color {
    border: 1px solid;
    border-color: black;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    border-radius: 50px;
}

.pixel-board {
    width: 250px;
    height: 250px;
}

.pixel {
    border: 1px solid;
    border-color: black;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
    margin-top: -4px;
    border-radius: 2px;
}



