#title {

}

#color-palette {

}

.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 1px;
    display: inline-block;   
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}

#pixel-board {

}

.line {
    width: 300px;
    height: 40px;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;  
}

.selected {

}
