.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: black solid 1px;
}

#color1 {
  background-color: black;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: black solid 1px;
  background-color: white;
} 