.color {
    border: solid black;
    border-width: 1px;
    width: 5em;
    height: 5em;
    display: inline-block;
    margin-top: 25px;
    margin-left: 5px;
}

#preto {
    background-color: black;
}

#vermelho {
    background-color: red;
}

#laranja {
    background-color: coral;
}

#azul {
    background-color: blue;
}

#pixel-board {
    margin-top: 30px;
    line-height: 0;
}

.pixel {
    border: solid black 1px;
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
}

.line {
    line-height: 0px;
}