.color {
  width:50px;
  height:50px;
  border:black solid 1px;
  display:inline-block;   
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

#pixel-board {
  margin-top: 20px;
  width: 240px;
}

.pixel {
  background-color: white;
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
}