.color {
  display: inline-block;
  border: solid 1px black;
  margin: 1px;
  width: 40px;
  height: 40px;
  background-color: black;
}
#color-palette div { 
  display: inline-block;
}
.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  box-sizing: border-box;
  margin-bottom: -4px;
}
