.color {
  width: 50px;
  height: 50px;
  border: black solid 1px;
  display: inline-block;
}

#pixel-board {
  padding-top: 70px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.pixel {
  border: 5px solid black;
  background-color: white;
  display: inline;
  padding: 50px;
  height: 25px;
  width: 25px;
}

#secao1 #secao2 #secao3 {
  display: block;
}

#secao2 {
  padding-top: 110px;
}

#secao3 {
  padding-top: 110px;
}
