.color {
    width: 50px;
    height: 50px;
    border: black solid 1px;
    display: inline-block;    
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}