.color {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

#black {
    background-color: black;

}

#green {
    background-color: green;
    
}

#red {
    background-color: red;

}

#yellow {
    background-color: yellow;

}

#pixel-board {
    margin-top: 10px;
    
}

.pixel {
    border: solid 1px black;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
}

