#color-palette {
  width: 200px;
  height: 50px;
}

.black {
  border: 1px solid black;
  background-color: black;
}

.red {
  border: 1px solid black;
  background-color: red;
}

.blue {
  border: 1px solid black;
  background-color: blue;
}

.green {
  border: 1px solid black;
  background-color: green;
}

#pixel-board {
  /* border-collapse: collapse; */
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}

#clear-board {
    margin-bottom: 20px;
}
