.color {
  width: 25px;
  height: 25px;
  border: black solid 1px;
  display: inline-block;
}

#pixel-board {
  padding-top: 55px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.pixel {
/* border: 1px solid black; */
  background-color: white;
  display: inline;
  padding: 50px;
  height: 40px;
  width: 40px;
}

#secao1 #secao2 #secao3 #secao4 #secao5 {
  display: block;
}

#secao2 {
  padding-top: 101px;
}

#secao3 {
  padding-top: 101px;
}

#secao4 {
  padding-top: 101px;
}

#secao5 {
  padding-top: 101px;
}
