body {
  text-align: center;
  background-color: grey;
}

.color {
  display: inline-block;
  border-radius: 100%;
  padding: 20px;
}

#black {
  border: 1px solid black;
  background-color: black;
}

#red {
  border: 1px solid black;
  background-color: red;
}

#blue {
  border: 1px solid black;
  background-color: blue;
}

#green {
  border: 1px solid black;
  background-color: green;
}

table {
  margin: auto;
  border-spacing: 0;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  padding: 40px;
}

.pixel td {
  width: 40px;
  height: 40px;
}
