.color, .pixel{
  border-color: black;
  border-style: solid;
  border-width: 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.ulDivPixel {
  height: 41px;
  width: 210px;
}
.pixel {
  background-color: white;
}

#black {
  background-color: black;
}


#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

.selected {
  background-color: black;
}