.color {
background-color: white;
width: 40px;
height: 40px;
border: 1px solid black;
display: inline-block;
}

#color-palette #preto {
    background-color: black;
}

#color-palette #verde {
    background-color: green;
}

#color-palette #vermelho {
    background-color: red;
}

#color-palette #azul {
    background-color: blue;
}

    .pixel {
    box-sizing: border-box;
    margin-bottom: -4px; 
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}