#title{
    text-align: center;
    text-decoration: solid;
}

#color-palette{
    display: inline-block;
    list-style: none;
    text-align: center;
    align-items: center;
    width: 93%;

}
.color{
    display: inline-table;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 40px;
    height: 40px;
    margin: 10px;
}

#color1 {
    background-color: black;
}

