/*
#title {
    text-align: center;
}

#color-palette {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
}

.btn1 {
    background: black;
}

.btn2 {
    background: yellow;
    margin-left: 20px;
}

.btn3 {
    background: blue;
    margin-left: 20px;
}

.btn4 {
    background: red;
    margin-left: 20px;
}

.color {
    padding: 20px;
    border: solid black 1px;
    cursor: pointer;
}

#pixel-board {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-spacing: 1px;
    background-color: black;
    border: 1px solid black;
}

.linha {
    display: table-row;
}

.pixel {
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
*/
#title {
    text-align: center;
}

.color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#color-palette {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#cor-1 {
    background: black;
}

#cor-2 {
    background: yellow;
}

#cor-3 {
    background: blue;
}

#cor-4 {
    background: red;
}

#inputTamanho {
    text-align: center;
}

#inputStyle {
    margin-top: 30px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.pixel {
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#pixel-board {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-spacing: 1px;
    background-color: black;
    border: 1px solid black;
}

.linha {
    display: table-row;
}

#condicao {
    text-align: center;
}