body {
    background-color: rgb(153, 153, 253) ;
  }
  
  
  header {
    text-align: center;
  }

  #title {
      background-color: red;
      margin-top: 0px;
      
  }
  
  
  #color-palette {
    display: flex;
    justify-content: center;
  }

 #black {
    background-color: black;
}

#blue{
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}
  
  div.color {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin: 3px 6px;
  }
  
  
  #buttons-menu {
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  
  #clear-board {
    padding: 7px;
  }
  
  #clear-board:hover {
    border: 2px solid rgb(0, 0, 0);
    filter: brightness(0.9);
  }
  
  #pixel-board {
    justify-content: center;
    display: flex;
    margin-top: 15px;
  }
  
  .pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
  }
  

