body {
  background: url('./images/bladerunner.png') no-repeat center fixed;
  background-size: cover;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: Fira Sans, Roboto, Segoe, sans-serif;
  box-shadow: 2px 2px 5px 2px black;
  padding: 10px;
  border-radius: 10px;
  background: url('/images/bg.png') no-repeat center fixed;
  margin: auto;
}
#title {
  color: #d85355;
  text-shadow: 1px 1px 2px black;
}

#title:hover {
  cursor: default;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin: 0 5px;
}

.selected {
  box-shadow: 2px 2px 2px black;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: white;
  border: 1px solid black;
}

#pixel-board {
  line-height: 0;
  border: 1px solid black;
}


#board-size {
  width: 105px;
  font-style: italic;
}

#generate-board {
  padding: 1px;
}

#input-section {
  margin: 10px;
}
