.color {
    border: 1px solid black;
    display: inline;
    padding: 20px;
}

.color:nth-child(1) {
    background-color: aqua;
}

.color:nth-child(2) {
    background-color: blueviolet;
}

.color:nth-child(3) {
    background-color: chartreuse;
}

.color:nth-child(4) {
    background-color: darkorange;
}