.color {
  border: 1px solid black;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

#black {
  background-color: black;

}

#blue {
  background-color: blue;

}

#red {
  background-color: red;

}

#green {
  background-color: green;

}



.linha {
  border: 1px solid white;  
  display: inline-block;
  width: 40px;
  height: 40px;
  
}

.pixel {
  border: 1px solid black;
  display: block;
  width: 40px;
  height: 40px;
 
