header{
  margin: auto;
  width: fit-content;
  padding-bottom: 40px;
}
#color-palette{
  margin: auto;
  width: fit-content;
  padding-bottom: 70px;
}
.color{
  border: black solid 1px;
  width: 80px;
  height: 80px;
  display: inline-block;
}
#clear-board{
  margin-left: 50%;
}
#pixel-board{
  margin-top: 20px;
  margin-left: 40%;
  line-height: 0;
}
.pixel{
  width: 40px;
  height: 40px;
  border: black 1px solid;
  background-color:white;
}
div{
  display: inline-block;
}