.color {
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

#color1 {
    background-color: black;
}

#color2 {
    background-color: rgb(69, 6, 46);
}

#color3 {
    background-color: rgb(127, 5, 95);
}

#color4 {
    background-color: rgb(229, 164, 203);
}

#color5 {
    background-color: rgb(235, 210, 190);
}