* {
  box-sizing: border-box;
}

#color-palette {
  display: flex;
  width: 100%;
  gap: 1px;
}

.color {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.color:nth-child(1) {
  background-color: black;
}

.color:nth-child(2) {
  background-color: blueviolet;
}

.color:nth-child(3) {
  background-color: yellowgreen;
}

.color:nth-child(4) {
  background-color: cornflowerblue;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 200px;
  width: 100%;
  gap: 1px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  margin-top: 1px;
  background-color: white;
}
