body {
  text-align: center;
  background-color: black;
  font-family: sans-serif;
  color: white;
}

#imagebkg {
  background-image: url('./fundo-de-grade-de-pixel-azul.jpg');
  width: 90%;
  margin: auto;
  border: 3px dashed gray;
}

#header {
  background-color: rgb(0, 0, 255, 0.5);
}

#paleta {
  background-color: rgb(128, 128, 128, 0.5);
}

#color-palete {
  margin: 0;
  display: inline-block;

}

.color {
  display: inline-block;
  border-radius: 100%;
  padding: 20px;
  border: 1px solid black;
  margin: 10px 0;
}

.selected {
  border: 2px dotted white;
}

table {
  margin: auto;
  border-spacing: 0;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
}

#clear-board {
  margin: 15px auto;
  background-color: yellow;
  width: 120px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid black;
}

#clear-board:hover {
  background-color: chocolate;
  color: white;
}

#board-size {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid white;
  text-align: right;
}

#generate-board {
  margin: 15px auto;
  background-color: greenyellow;
  width: 120px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid black;
}

#generate-board:hover {
  background-color: green;
  color: white;
}

#footer {
  margin-right: 20px;
  color: white;
  text-align: right;
  font-size: 14px;
  font-style: italic;
}
