body {
  width: 1366px;
  height: 768px;
}

header {
  width: 80%;
  height: 60px;
  margin: auto;
  margin-top: 20px;
}

#header-container {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;

}

#header-container #title {
  margin: 12px 0;
  text-align: center;
}

#main-container {
  width: 80%;
  height: 430px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;
  position: relative;
}

#palette-container {
  width: 780px;
  height: 60px;
  margin: 20px 150px 0;
  border: 2px solid black;
  position: absolute;
}

#selected-container {
  width: 40px;
  height: 40px;
  float: left;
  margin: 8px 0 8px 20px;
}

#color-selected {
  float: left;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(18, 223, 127);
  border-radius: 50%;
  margin: 2px;
  background-color: black;
}

#color-palette {
  width: 170px;
  height: 40px;
  float: left;
  margin: 8px 0 8px 90px;
}

.color {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 4px 2px;
}

#extended-palette {
  width: 425px;
  height: 40px;
  float: left;
  margin: 8px 20px 8px 0;
}

.color-extended {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 4px 2px;
}

#option-container {
  width: 500px;
  height: 70px;
  position: absolute;
  margin: 105px 296px 0;
}

#clear-board {
  width: 80px;
  height: 50px;
  font-size: 20px;
  margin: 10px 210px;
}

#pixel-board {
  display: table;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  top: 0;
  left: 0;
  margin: 195px 446px 0;
}

#pixel-tr {
  display: table-row;
  width: 200px;
  height: 40px;
}

.pixel {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}
