#color-palette {
  display: inline-block;
  width: 100px;  
  height: 20px;
}

/* #color1 {
  color: black;
  background-color: black;
} */

/* #color2 {
  color: red;
  background-color: red;
}

#color3 {
  color: blue;
  background-color: blue;
}
 */
#clear-board {
  display: block;
  width: 100px;  
  height: 20px;
}

#color4 {
  color: green;
  background-color: green;
}

.color {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  width: 20px;
  height: 20px;
}

#pixel-board {
  color: white;
  border: 25px;
  width: 230px;
  height: 250px;
  display: block;
}

.pixel {
  color: white;
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}
