h1 {
  text-align: center;
}

#color-palette {
  list-style: none;
  text-align: center;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: rgb(255, 205, 31);
}

#color3 {
  background-color: rgb(56, 255, 224);
}

#color4 {
  background-color: rgb(254, 5, 255);
}

.color {
  display: inline-block;
  padding: 15px;
  border: solid black 1px;
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: solid black 1px;
  background-color: white;
}

.line {
  display: block;
}

table {
  margin-left: 42%;
}
