#color-palette {
  display: flex;
  width: 100%;

}


#color-palette .color {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  margin-left: 5px;

}

#palette-one {
  background-color: white;
}

#pixel-board {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 200px;
  gap: 5px;
}



.divRow {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: rgb(184, 38, 38);
}

.selColor {

  background-color: rgb(184, 38, 38);
}


.pixel {

  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0;
  padding: 0px;
  border: 1px solid black;
  background-color: white;
}
