#color-palette{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0, .5);
    width: 160px;
}

.color{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}

#s1{
    background-color: black;
}

#s2{
    background-color: green;
}

#s3{
    background-color: yellow;
}

#s4{
    background-color: red;
}