.color{
    border: 1px black solid;
     display: inline-block;
     width: 50px;
     height: 50px;
     }

 #bloco1 {
     background-color: black;
     display: inline-block;
  }

  #bloco2{
    background-color: #04C696;
    display: inline-block;
 }

 #bloco3{
    background-color: #089DBE;
    display: inline-block;
 }

 #bloco4{
    background-color: #0C75E6;
    display: inline-block;
 }

#pixel-board {
   width: 210px;
   height: 210px;
   border: solid black;
   background-color: white;

}

.pixel {
   width: 40px;
   height: 40px;
   border: 1px solid black;
   float: left;
   background-color:  white;
}

