#title {
   
}
.color {
    border: solid black;
    border-width: 1px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    margin-bottom: 25px;
}
.selected {
    border: solid black;
    border-width: 1px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    margin-bottom: 25px;
}
#pixel-board {
    width: 210px;
    height: 210px;
}
.pixel {
    border: solid black;
    border-width: 1px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: -5px;
    
}