* {
    margin: 0px;
}

body {
    background-color: #D9FA99;
}

#title {
    background-color: #87DEA3;
    width: 100%;
    height: 2.7em;
    text-align: center;
    padding-top: 8%;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid #535a60;
}

.color {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;   
}

#c1 {
    background-color: #000;
}