#title {
    text-align: center;
}
.color {
    border: solid black 1px;
    padding: 40px;
    display: inline-block;
    margin: 5px;
}
#color-palette :first-child {
    background-color: black;
}
#color-palette :nth-child(2) {
    background-color: red;
}
#color-palette :nth-child(3) {
    background-color: blue;
}
#color-palette :last-child {
    background-color: green;
}
#pixel-board {
    display: table;
    border: solid black 1px;
}
.pixel-line {
    display: table-row;
}
.pixel {
    padding: 40px;
    border: solid black 1px;
    display: table-cell;
    color: white;
}
.selected {
    background-color: black;
}