.color {
  display: inline-block;
  border: 1px solid black;
  border-radius: 7px;
  height: 40px;
  width: 40px;
}

 .color:nth-child(1) {
   background-color: rgb(0, 0, 0);
 }

 .color:nth-child(2) {
  background-color: rgb(127, 255, 212);
}

.color:nth-child(3) {
  background-color: rgb(240, 128, 128);
}

.color:nth-child(4) {
  background-color: rgb(119, 136, 153);
}
