.color {
  background-color: rgb(179, 179, 179);
  height: 30px;
  width: 30px;
  margin: 5px;
  display: inline-block;
  border: 1px solid black;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: -4px;
}
.button {
  width: 150px;
}