.color {
    width: 51px;
    height: 51px;
    display: table-cell;
    border: black solid 1px;

}

.pixel {
    display: table-cell;
    width: 100px;
    height: 100px;
    border: black solid 1px;
    background-color: white;
    height: 40px;
    width: 40px;
}