body {
    text-align: center;
}


#title {
    top: 0px;

}

#color-palette{
    display: block;
    padding: 5px;
}

.color {
    margin: 1px;
    width: 40px;
    height: 40px;
    color:blue;
    border: 1px solid black;
    display: inline-block;
}

.pixel {
    display: inline-block;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    margin: 1px;
    background-color: white;
}
