* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
#color-palette {
  display: flex;
  width: 100%;

}


#color-palette .color {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  margin-left: 5px;

}

#palette-one {
  background-color: white;
}
/*
#pixel-board {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 40px;
  width: 40px;
  gap: 5px;
}
*/
#clear-borad {
  background-color: rgb(81, 196, 52);
  color: aqua;
}


#divRow {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: rgb(184, 38, 38);
}

.selColor {

  background-color: rgb(184, 38, 38);
}

.selected {

  background-color: rgb(0, 0, 0);
}
/*

.pixel {

  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0;
  padding: 0px;
  border: 1px solid rgb(167, 31, 31);
  background-color: white;
}
*/
/*
.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  box-sizing: border-box;
  margin-bottom: -4px;
}
*/
.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0;
  padding: 0px;
  margin-right: -1px;
  margin-bottom: -5px;
  border: 1px solid black;
  background: white;
}