.color {
  display: inline-block;
  border: 1px solid black;
  border-radius: 7px;
  height: 40px;
  width: 40px;
}

 .color:nth-child(1) {
   background-color: black;
 }

 .color:nth-child(2) {
  background-color: aqua;
}

.color:nth-child(3) {
  background-color: lightcoral;
}

.color:nth-child(4) {
  background-color: lightslategray;
}

.pixel {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border: 1px solid black;
}
