body {
    background-image: url("bg.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'VT323', monospace;
}

h1 {
    text-align: center;
    margin-left: 20px;
    font-size: 36px;
    color: #633237;
}

#color-palette {
    margin-left: 527px;;
}

#pixel-board {
    margin: 75px 0 0 542px;
}

.color {
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 30px;
    height: 30px;
    border: black solid 1px;
    cursor: pointer;
}

.pixel {
    display: inline-block;
    margin: -10px -3.25px -10px -3.25px;
    width: 40px;
    height: 40px;
    border: #000 solid 1px;
    background-color: #fff;
    cursor: pointer;
}

.color:first-child {
    background-color: #000;
}

.color:nth-child(2) {
    background-color: #633237;
}

.color:nth-child(3) {
    background-color: #645e5a;
}

.color:nth-child(4) {
    background-color: #e0b7a8;
}