.color {
  border: 1px solid black;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

#black {
  background-color: black;

}

#blue {
  background-color: blue;

}

#red {
  background-color: red;

}

#green {
  background-color: green;

}



.linha {
  border: 1px white;
  background-color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  top:auto;
  left:auto;
  right: auto;
  bottom:auto

}

.pixel {
  border: 1px solid black;
  display: block;
  width: 40px;
  height: 40px;
  background-color: white;
  position: relative;
  top:auto;
  left:auto;
  right: auto;
  bottom:auto

}
