.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: black solid 1px;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
}

.grey {
  background-color: grey;
}
