.color {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0, 1);
}

.pixel {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 1);
}

.linha {
  height: 52px;
  display: block;
}

#clear-board {
  padding: 10px;
  display: block;
  margin: 20px 0px;
}