.color {
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#clear-board {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pixel-board {
  width: 220px;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
}
