body {
    background-color: rgb(224, 224, 224);
}

#color-palette {
    border-spacing: 1px;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
}
.color {
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 5px;
}
#pixel-board {
    display: table;
    background-color: black;
    border: 1px solid black;
    margin-left: 10px;
    
}
.pixel {
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-spacing: 1px;
}