body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  width: auto;
  padding: 20px;
  background-color: #dddddd;
  border-radius: 15px;
  margin: auto;
  display: inline-block;
}

.color {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0, 1);
}

#pixel-board {
  max-width: 1330px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: auto;
}

.pixel {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(0, 0, 0, 1);
}

.linha {
  height: 52px;
  display: block;
  text-align: center;
}

#clear-board {
  padding: 10px;
  display: inline-block;
  margin: 20px 0px;
}

.controles {
  margin-top: 15px;
}

#board-size {
  width: 122px;
  margin-left: 20px;
  display: inline-block;
}

#generate-board {
  padding: 10px;
  display: inline-block;
  margin-left: 15px;
}
