body {
    text-align: center;
    align-items: center;
    display: inline;
}

.color {
    border: 1px solid black;
    display: inline;
    padding: 25px;
}

.color:nth-child(1) {
    background-color: black;
}

.color:nth-child(2) {
    background-color: aqua;
}

.color:nth-child(3) {
    background-color: blueviolet;
}

.color:nth-child(4) {
    background-color: chartreuse;
}

#pixel-board {
    width: 18vw;
    height: fit-content;
    margin: 100px auto;
}

.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}